<h1 class="title">Lorem Impsum</h1>

<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Maecenas ultricies mi eget mauris. Nisl rhoncus mattis rhoncus urna neque viverra. Gravida dictum fusce ut placerat. Tortor vitae purus faucibus ornare. Maecenas ultricies mi eget mauris pharetra. Nec feugiat nisl pretium fusce id. In tellus integer feugiat scelerisque varius. Vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt. Consequat semper viverra nam libero justo laoreet sit. Sapien et ligula ullamcorper malesuada proin libero. Sit amet luctus venenatis lectus magna fringilla. Neque convallis a cras semper auctor neque vitae tempus. Quisque id diam vel quam. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Tempor commodo ullamcorper a lacus vestibulum sed arcu non odio. Convallis tellus id interdum velit laoreet id donec ultrices.</p>

<div class="meta">
  <span class="author">Wiki Page Author</span>
  <span class="creation">Wiki Page Creation Date</span>
  <span class="update">Wiki Page Last Update Date</span>
</div>

<div class="links">
  <%= link_to "Home", welcome_index_path %>
  <%= link_to "New Wiki Post", new_wiki_post_path %>
</div>