<p id="notice"><%= notice %></p>

<h1>Wiki Posts</h1>

<% @wiki_posts.each do |post| %>
  <p>
    <h4><%= post.title %></h4>
    <%= link_to "View", wiki_post_path(post), class: 'wikiLink' %>
  </p>
<% end %>

<%= link_to 'New Wiki Post', new_wiki_post_path %>
